/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */
// @import url('https://fonts.googleapis.com/css?family=Hind:400,700|Roboto+Slab');
// $font-family-base: 'Roboto Slab', serif;
// $font-family-secondary: 'Hind', sans-serif;
// $font-size-base: 1.6rem;

/**
 * Colors
 */

// $text-color: #000;
// $body-bg: #fff;
   $white: #eaeaea;
   $black: #130101;
   $blue: #051341;
   $tan: #C3B091;
   $red: #9A0F0F;

/**
 * Grid
 */
